<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<p>Activities</p>
{% if all_models %}
		<ul> 
			{% for activity in all_models %}
			<li>
				<div class="container">
					<div class="row border">
						<div class="col-8 border">
							<h3>{{activity.name}}</h4>
						</div>
						<div class="col-4 border">
							<div class="row border">
									<p>{{activity.start_date}} - {{activity.end_date}}</p>
							</div>
						</div>	
					</div>
					<div class="row border">
						<p><em>{{activity.secName}}</em></p>
					</div>
					<div class="container border">
						{% for activity_detail in activity.activitydetail_set.all %}
						<ul>
							<li>
								<p>{{activity_detail.detail}}</p>
							</li>
						</ul>
						{% endfor %}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<p> No activities are available </p>
{% endif %}

<p>Skills</p>
{% if skills %}
		<ul> 
			{% for skill in skills %}
			<li>
				<p>{{skill.name}}</p>
			</li>
			{% endfor %}
		</ul>
	{% else %}
		<p> No skills are available </p>
{% endif %}


